h1{
    color: blue;
    font-size:40px ;
}
.top-part{
    width: 40%;
    padding-left: 2%;
    margin-left: 5%;
    float: left;
}
.link1{
    color: white;
    background-color: black;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 20px;
}